catalog-v001.xml

# Abstract template and build artifacts
doc/**/*.pdf
doc/**/build/*
doc/**/figures/*

# Fuseki related
fuseki.out
run/

vignettes/**/outputs/*
vignettes/**/run/*
vignettes/**/fuseki.out
vignettes/**/vignette.log
vignettes/**/tests/test_log.txt
Vagrantfile
.vagrant

/.idea/
.DS_Store
