catalog-v001.xml

# Abstract template and build artifacts
doc/**/*.pdf
doc/**/build/*
doc/**/figures/*



pictoralist_cache/*
outputs/*


/.idea/
.DS_Store
*.DS_Store
.env.local

*.csv
**/bin/__pycache__/
python/.vscode/settings.json
**/dist/
**/__pycache__/
.python-version
ES.json
venv/
PFPenv/
*.pyc
.vscode
.env.local
