catalog-v001.xml

# Abstract template and build artifacts
doc/**/*.pdf
doc/**/build/*
doc/**/figures/*



cache/*
outputs/*


/.idea/
.DS_Store
*.DS_Store

*.csv
**/bin/__pycache__/
python/.vscode/settings.json
**/dist/
**/__pycache__/
.python-version
ES.json
cached_env_configs.zsh
cache/cached1.png
venv/
PFPenv/
*.pyc
.vscode
.env