[tool.poetry]
name = "pfp-api"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]
readme = "README.md"
packages = [{include = "pfp_api"}]

[tool.poetry.dependencies]
python = "^3.10,<3.12"
uvicorn = "^0.20.0"
fastapi = "^0.89.1"
rdflib = "^6.2.0"
pandas = "^1.5.3"
rdfpandas = "^1.1.5"
sparqlwrapper = "^2.0.0"
scipy = "1.9.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
